@import url("http://fonts.cdnfonts.com/css/pokemon-solid");

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b9b9b9;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loading-screen img {
  max-width: 200px;
  max-height: 200px;
  animation: rotation 1.5s infinite linear;
}

.loading-screen h1 {
  font-family: "Pokemon Solid", sans-serif;
  font-weight: 400;
  color: #ffcb05;
  text-shadow: 0 0 10px #003a70, 0 0 10px #003a70;
  margin-top: 2rem;
}

.page-selector {
  text-align: center;
}

.page-selector button {
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.1s ease-in-out;
}

.page-selector button:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.4);
}

.pokemon-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 40px;
  margin: 0;
}

.pokemon-card {
  background-color: pink;
  border: 1px solid black;

  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  height: 230px;
  padding: 1.5rem 0;
  margin: 2rem;
  transition: all 0.2s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.1);
}

.pokeball-icon-container {
  position: relative;
}

.pokeball-icon {
  position: absolute;
  width: 170px;
  opacity: 0.5;
  top: -24px;
  right: -85px;
}

.sprite-container {
  width: 130px;
  height: 130px;
  z-index: 1;
}

.pokemon-sprite {
  /* image-rendering: pixelated; */
  width: 130px;
}

.pokemon-card h3 {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0;
  color: #ffcb05;
  text-shadow: 0 0 10px #003a70, 0 0 10px #003a70;
  margin-top: 25px;
}

.type-list {
  margin-top: 15px;
}

.type-badge {
  color: white;
  padding: 1px 7px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 4px;
}
