@import url("http://fonts.cdnfonts.com/css/pokemon-solid");

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  background: url("./assets/img/seamless-galaxy.jpg");
  background-color: #00072c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-image-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("./assets/img/seamless-galaxy.jpg");
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loading-screen img {
  max-width: 200px;
  max-height: 200px;
  animation: rotation 1.5s infinite linear;
}

.loading-screen h1 {
  font-family: "Pokemon Solid", sans-serif;
  font-weight: 400;
  color: #ffcb05;
  text-shadow: 0 0 10px #003a70, 0 0 10px #003a70;
  margin-top: 2rem;
}

.page-selector {
  text-align: center;
}

.page-selector button {
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.1s ease-in-out;
}

.page-selector button:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.5);
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 40px;
  margin: 0;
}

.pokemon-card {
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  height: 260px;
  padding: 1.5rem 0;
  margin: 2rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.pokemon-card:hover {
  transform: scale(1.1);
}

.pokemon-id {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffcb05;
  text-shadow: 0 0 10px #003a70, 0 0 10px #003a70;
  position: relative;
}

.pokemon-id h4 {
  position: absolute;
  top: -8px;
  left: -82px;
}

.pokeball-icon-container {
  position: relative;
}

.pokeball-icon {
  position: absolute;
  width: 170px;
  opacity: 0.5;
  top: 12px;
  right: -85px;
}

.sprite-container {
  width: 130px;
  height: 130px;
  z-index: 1;
  margin-top: 34px;
}

.pokemon-sprite {
  /* image-rendering: pixelated; */
  width: 130px;
}

.pokemon-card h3 {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffcb05;
  text-shadow: 0 0 10px #003a70, 0 0 10px #003a70;
  margin-bottom: 0;
  margin-top: 25px;
}

.pokemon-card h3.japanese-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.type-list {
  margin-top: 15px;
}

.type-badge {
  color: white;
  padding: 2px 7px;
  border-radius: 15px;
  border: 1px solid black;
  margin: 0 4px;
}

.load-more {
  font-size: 1.25rem;
  padding: 15px 200px;
  margin-top: 30px;
  margin-bottom: 150px;
  border-radius: 1.6rem;
  background-color: transparent;
  color: #9af7f2;
  font-weight: 700;
  text-shadow: 0 0 10px #9af7f2, 0 0 10px #9af7f2;
  box-shadow: 0 0 5px 1px rgb(154 247 242 / 60%);
  border: 2px solid rgba(154, 247, 242, 0.8);
  cursor: pointer;
}

.load-more:hover {
  color: black;
  background-color: #9af7f2;
}
