@import url("http://fonts.cdnfonts.com/css/pokemon-solid");

.body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pokemon-sprite {
  /* image-rendering: pixelated; */
  width: 130px;
  z-index: 1;
}

.loading-sprite {
  width: 5%;
}

.type-badge {
  color: white;
  padding: 1px 7px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 4px;
}

.pokemon-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon-card {
  background-color: pink;
  border: 1px solid black;

  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  height: 230px;
  padding: 1.5rem 0;
  margin: 2rem;
  transition: all 0.2s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.1);
}

.pokeball-icon-container {
  position: relative;
}

.pokeball-icon {
  position: absolute;
  width: 170px;
  opacity: 0.5;
  top: -24px;
  right: -85px;
}

.pokemon-card h3 {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0;
  color: #ffcb05;
  text-shadow: 0 0 10px #003a70, 0 0 10px #003a70;
}
